* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#chat {
    width: 450px;
    height: 650px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: blue;
}

.head {
    width: 100%;
    height: 50px;
    background: #5e5e5e;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.content {
    width: 100%;
    height: 550px;
    background: #EBEBEB;
    overflow-y:scroll;
}

.input {
    width: 100%;
    height: 50px;
    background: #D3D3D3;
    position: relative;
}

#chatArea {
    width: 350px;
    height: 25px;
    border: 0px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    margin-left: 10px;
    outline: none;
    border-radius: 5px;
}

#sendBtn {
    width: 65px;
    height: 25px;
    background: yellowgreen;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 25px;
    position: absolute;
    margin-left: 370px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
}